.slick-slider {
  max-width: 660px;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-list {
  display: flex;
  overflow: hidden;
}
.slick-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 0;
  z-index: 10;
  background-repeat: no-repeat;
  border: 1px solid red;
  background-position: center;
  vertical-align: middle;
  cursor: pointer;
}
.slick-prev {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
}
.slick-next {
  font-size: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* .slick-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  z-index: 10;
  background-repeat: no-repeat;
  background-image: url(./img/vektor.svg);
  background-position: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid violet
}  */

/* .slick-next {
  font-size: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid black
}
.slick-prev {
  font-size: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid rgb(39, 234, 123)
}

.slick-dots{
    position: relative;
    background: #aeacac;
    width: 20px;
    height: 20px;
    border-radius: 50%;
;
} */
