@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('/fonts/CustomFont.woff2') format('woff2'),
         url('/fonts/CustomFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
  transition: all 0.4s ease;
}

.container {
  max-width: 1380px;
  padding: 0 20px;
  margin: 0 auto;
}